<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Username" value="adminUser"/>
		<add key="Password" value="SecurePass123"/>
		<add key="ClientFileDll" value="C:\Users\sds15\source\repos\FendahlTraining"/>
	</appSettings>
</configuration>